@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-gray-900 text-3xl sm:text-xl md:text-2xl lg:text-3xl font-sans;
  }

  table {
    @apply table-auto border-collapse border text-left w-screen;
  }

  th,td {
    @apply border;
  }

  .interactivehover {
    @apply hover:bg-gray-700 cursor-pointer text-center;
  }

  input {
    @apply block mt-1  border border-gray-300 rounded-md shadow-sm focus:border-blue-500 text-black;
  }

  button {
    @apply bg-purple-500 hover:bg-purple-600 mt-4 px-4 py-2 font-bold rounded;
  }

  label {
    @apply block font-medium text-gray-700;
  }

  select {
    @apply block mt-2 p-2.5 bg-gray-700 border border-gray-600 rounded-lg focus:border-blue-500 placeholder-gray-400 text-sm;
  }
}
